<nav class="span-4 last">
            <br />
            <ul id="menu">
                <li><a href="{% url "index" %}">Wszystkie wpisy</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url "nowa_sesja" %}">Zaloguj się</a></li>
                    <li><a href="{% url "nowy_uzytkownik" %}">Rejestracja</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url "zakoncz_sesje" %}">Wyloguj się</a></li>
                    <li><a href="{% url "new" %}">Dodaj</a></li>
                {% endif %}
            </ul>
        </nav>